<html>
<head>
  <title>Wine Chiller - Adding a Bottle</title>

  <link rel="stylesheet" href="./variables.less">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./bootswatch.less">
  <link rel="stylesheet" href="./1b.css">
</head>
<body>
  <div class="home" style="height: 175px;border-bottom: 2px solid #222;"><!-- spacer --></div>
  <center>
    <h1 style="font-size: 4.5em;color: #003378;">Wine Chiller</h1>
    <h3 style="font-size: 2.5em;color: #333;">Adding a Bottle</h3>
  </center>
  <div class="home" style="height: 125px;border-top: 2px solid #222;border-bottom: 2px solid #222;"><!-- spacer --></div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h2>Scenario</h2>
      You are back home after purchasing your wine and want to add it to your wine rack.
      <br /><br />
      <h2>Action</h2>
      <li>Physically place the bottle in the wine rack. (ENTER LOCATION HERE)</li>
      <li>App will ask you which bottle you placed in rack, select appropriate bottle.</li>
    </div>
  </div>

</body>
</html>
