<html>
<head>
  <title>Wine Chiller - The Store</title>

  <link rel="stylesheet" href="./variables.less">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./bootswatch.less">
  <link rel="stylesheet" href="./1b.css">
</head>
<body>
  <div class="store" style="height: 175px;border-bottom: 2px solid #222;"><!-- spacer --></div>
  <center>
    <h1 style="font-size: 4.5em;color: #003378;">Wine Chiller</h1>
    <h3 style="font-size: 2.5em;color: #333;">The Store</h3>
  </center>
  <div class="store" style="height: 125px;border-top: 2px solid #222;border-bottom: 2px solid #222;"><!-- spacer --></div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h2>Scenario</h2>
      You are at the store and are looking at a particular wine bottle. You open your 1B Wine Chiller application and click the camera <span class="glyphicon glyphicon-camera" style="font-size: 1.5em;"></span> icon and snap a picture of the bottle.
      <br /><br />
      <h2>Action</h2>
      <li>Look at your app and select the 'buy' option. This adds the bottle to your wine inventory list.</li>
    </div>
  </div>

</body>
</html>
